@@include('../partials/header.html')
<section class="screen --divisions" id="app">
    <header class="screen__header">
        <span class="screen__icon">
            <i class="fas fa-star fa-fw"></i>
        </span>
        <h1 class="screen__title">Fantasy</h1>
        <a href="/divisions/division_input.html" class="screen__btn">
            <span class="sr-only">Fantasy</span>
            <i class="fas fa-plus"></i>
        </a>
    </header>
    <div class="screen__table">
        <div class="screen__cards">
            <div class="screen__card">
                <h3>Free Agents</h3>
                <free-agents :players="players" @show="ShowModal"></free-agents>
            </div>
            <div class="screen__card">
                <h3>Team</h3>
                <teams :players="players" @show="ShowModal"></teams>
            </div>
        </div>
    </div>
    <modal v-show="isVisible" :player="tempPlayer" :type="actionType" @close="CloseModal"></modal>
</section>

<template id="modal">
    <div class="modal-wrapper">
        <div class="modal-background">
            <div class="modal --player">
                <header class="modal__header">
                    <h1 class="modal__heading">Player Details</h1>
                    <button type="button" class="modal__close" aria-label="Close" @click="destroyModal">
                        <i class="fas fa-close"></i>
                    </button>
                </header><!-- modal__header -->
                <div class="modal__body">
                    <div class="player">
                        <h2 class="player__name" v-if="player">{{player.name.first}} {{player.name.last}}</h2>
                        <div class="player__wrapper">
                            <div class="player__img">
                                <div class="player-img__inner">
                                    <img src={{player.img.src}} alt="Jose Altuve">
                                </div>
                            </div><!-- player__img -->
                            <div class="player__content">
                                <div class="player__bio">
                                    <div class="player__general">
                                        <span v-if="player">#{{player.general.number}} {{player.general.position}}</span>
                                        <span v-if="player">Bats: {{player.general.bats}}, Throws: {{player.general.bats}}</span>
                                    </div>
                                    <ul class="player__metadata">
                                        <li><span>Birth Date</span><span v-if="player">{{player.metadata.birthDate}}</span></li>
                                        <li><span>Birthplace</span><span v-if="player">{{player.metadata.birthPlace}}</span></li>
                                        <li><span>Experience</span><span v-if="player">{{player.metadata.experience}} years</span></li>
                                        <li><span>College</span><span v-if="player">{{player.metadata.birthDate}}</span></li>
                                        <li><span>Ht/Wt</span><span v-if="player">{{player.metadata.height}}, {{player.metadata.weight}} lbs.</span></li>
                                    </ul>
                                </div> <!-- player__bio -->
                                <div class="player__stats">
                                    <p class="player-stats__season">2018 Season</p>
                                    <table class="player-stats__table">
                                        <thead>
                                            <tr>
                                                <th>AVG</th>
                                                <th>HR</th>
                                                <th>RBI</th>
                                                <th>OBP</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td v-if="player">{{player.stats.avg}}</td>
                                                <td v-if="player">{{player.stats.hr}}</td>
                                                <td v-if="player">{{player.stats.rbi}}</td>
                                                <td v-if="player">{{player.stats.obp}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!-- player__stats -->
                            </div><!-- player__content -->
                        </div><!-- player__wrapper -->
                    </div>
                </div>
                <footer class="modal__footer">
                    <a class="btn --secondary" @click="AddToTeam" v-if="type == 'add'">Add Player</a>
                    <a class="btn --secondary" @click="RemoveFromTeam" v-if="type == 'remove'">Remove Player</a>
                    <a id="closeModal" class="btn --light" @click="destroyModal">Cancel</a>
                </footer><!-- modal__footer -->
            </div><!-- modal -->
        </div><!-- modal-background -->
    </div>
</template>

<template id="free-agents">
    <ul id="players" class="items">
        <player-card v-for="(player, index) in availablePlayers" :key="index" :info="player.name" @click.native="playerClicked(player)"></player-card>
    </ul>
</template>

<template id="teams">
    <ul id="players" class="items">
        <player-card v-for="(player, index) in playersOnTeam" :key="index" :info="player.name" @click.native="playerClicked(player)"></player-card>
    </ul>
</template>

<template id="player-card">
    <li class="item --add">
        <i class="fas fa-user-circle"></i>
        <span class="item__data --name">
            <span>{{info.first}}</span>
            <span>{{info.last}}</span>
        </span>
        <span class="item__data --team"></span>
        <a class="item__delete --team" role="button">
            <i class="fas fa-trash-alt"></i>
        </a>
    </li>
</template>


<script src="/scripts/items.js"></script>
<script>

    const PlayerCard = Vue.component('PlayerCard', {
        template: '#player-card',
        props: {
            info: Object,
        }
    });

    const Modal = Vue.component('Modal', {
        template: "#modal",
        props: {
            player: Object,
            type: String
        },
        methods: {
            destroyModal(){
                this.$emit('close');
            },
            AddToTeam(player) {
                this.player.team.name = "Atlantic Partners";
                this.$emit('close');

                fetch(`http://localhost:4000/players/${this.player.id}`, {
                    method: 'PATCH',
                    body: JSON.stringify(this.player),
                    headers: {
                        "Content-Type": "application/json",
                    },
                })
                .then(resp => resp.json())
                .catch(err => console.log(err));
            },
            RemoveFromTeam(player) {
                this.player.team.name = null;
            }
        }
    })

    const FreeAgents = Vue.component('FreeAgents', {
        template: '#free-agents',
        components: {
            PlayerCard
        },
        props: {
            players: Array
        },
        computed: {
            availablePlayers() {
                return this.players.filter(player => !player.team.name)
            }
        },
        methods: {
            playerClicked(info) {
                this.$emit('show', info, 'add')
            }
        }
    });

    const Teams = Vue.component('Teams', {
        template: '#teams',
        components: {
            PlayerCard
        },
        props: {
            players: Array
        },
        computed: {
            playersOnTeam(){
                return this.players.filter(player => player.team.name == 'Atlantic Partners')
            }
        },
        methods: {
            playerClicked(info) {
                this.$emit('show', info, 'remove');
            }
        }
    })

    const pickPlayers = new Vue({
        el: '#app',
        components: {
            FreeAgents,
            Teams,
            Modal
        },
        data(){
            return {
                players: [],
                isVisible: false,
                tempPlayer: null,
                actionType: null,
            }
        },
        methods: {
            ShowModal(player, type){
                this.isVisible = true;
                this.tempPlayer = player;
                this.actionType = type;
            },
            CloseModal(){
                console.log('closing')
                this.isVisible = false;
                this.tempPlayer = null;
            },
        },
        created: function () {
            fetch(`http://localhost:4000/players`)
                .then(rsp => rsp.json())
                .then(data => {
                    this.players = data;
                });
        }
    });

    Vue.config.devtools = true
</script>
@@include('../partials/utility_nav.html') @@include('../partials/footer.html')